#contact {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

#contact p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #555;
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-btn {
    background-color: #00bcd4;
    color: white;
    padding: 12px 25px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #0288a3;
    transform: translateY(-5px); /* Lift the section */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); /* Add shadow effect */
}

.contact-btn i {
    margin-right: 10px;
    font-size: 1.5em; /* Icon size */
}

/* Responsive design for mobiles*/
@media screen and (max-width: 768px) {
    #contact h2 {
        font-size: 1.8em;
    }

    .contact-btn {
        width: 200px;
        font-size: 1.1em;
    }
}
