/* Projects Page */
#projects {
    background-color: #fff;
    padding: 50px 0;
}

#projects h2 {
    text-align: center;
    margin-bottom: 30px;
}

.project-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 1.1em;
    line-height: 1.5;
}

.project-card a {
    text-decoration: none;
    color: #00bcd4;
}

.project-card a:hover {
    color: #333;
}

.project-card .btn {
    background-color: #00bcd4;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}

.project-card .btn:hover {
    background-color: #0097a7;
}
