#projects {
    background-color: #f4f4f4;
    padding: 50px 0;
}

#projects h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;
}

.project-group {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px); /* Lift the section */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); /* Add shadow effect */
}

.project h3 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.project p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align:justify;
}

.view-sample-btn {
    display: inline-block;
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto 0;
    display: block;
    width: fit-content;
}

.view-sample-btn:hover {
    background-color: #0288a3;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Responsive design for mobiles*/
@media screen and (max-width: 768px) {
    .project-group {
        width: 90%;
    }

    .project {
        padding: 15px;
    }

    .project h3 {
        font-size: 1.4em;
    }

    .project p {
        font-size: 1em;
    }

    .view-sample-btn {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}
