#skills {
    background-color: #f4f4f4;
    padding: 50px 0;
}

#skills h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensures 3 skills per row */
    gap: 20px;
    margin-top: 20px;
}

.skill-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; /* Fixed height */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Prevent text overflow */
}

.skillInfo{
    text-align: justify;
}

.skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill-item h3 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 10px;
}

.skill-item p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #555;
    flex-grow: 1; /* Ensures the text area grows to take available space */
    overflow: hidden; /* Prevent text overflow */
    text-overflow: ellipsis; /* Optionally add an ellipsis(...) if the text is too long */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 4 lines of text */
    -webkit-box-orient: vertical;
}

.skill-level {
    font-size: 1.2em;
    font-weight: bold;
    color: #00bcd4;
    margin-bottom: 10px;
}

.view-cert-button {
    background-color: #00bcd4; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.view-cert-button:hover {
    background-color: #019ab3; /* Slightly darker shade on hover */
    transform: translateY(-5px); /* Lift the section */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); /* Add shadow effect */
}

/* Responsive design for mobiles*/
@media screen and (max-width: 768px) {
    .skills-list {
        grid-template-columns: repeat(1, 1fr); /* Set skills in single column on small screens */
    }

    .skill-item {
        width: 90%;
        height: auto; 
    }

    #skills h2 {
        font-size: 1.8em;
    }
}
