#skills {
    background-color: #f4f4f4;
}

#skills h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row on larger screens */
    gap: 20px;
}

.skill-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item p {
    text-align: justify;
}

.skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill-item h3 {
    font-size: 1.6em;
    color: #333;
    padding: 10px;
}

.skill-item p {
    font-size: 1.1em;
    padding: 15px;
    color: #555;
    flex-grow: 1;
}

.skill-level {
    font-size: 1.2em;
    font-weight: bold;
    color: #00bcd4;
    padding: 10px;
}

.view-cert-link {
    display: inline-block;
    background-color: #00bcd4; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Padding for button size */
    font-size: 1em; 
    border-radius: 5px; 
    text-align: center; /* Center text within the button */
    text-decoration: none; /* Remove underline from link */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    margin: 20px auto 0; /* Center horizontally with space above */
    display: block; /* Ensure the button is block-level to use margin auto */
    width: fit-content; /* Adjust width to fit content */
}

.view-cert-link:hover {
    background-color: #019ab3;
    transform: translateY(-5px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive design for smaller screens, including landscape mode */
@media screen and (max-width: 768px) {
    .skills-list {
        grid-template-columns: 1fr; /* Enforce single column layout */
        gap: 20px;
    }

    .skill-item {
        width: 100%; /* Full width in single column */
    }

    .view-cert-link {
        white-space: nowrap; /* Prevent text from wrapping it takes 2 lines in mobile view*/
        
    }

}
